<p>The Caribbean Club Resort has packages available to add to your reservation. All package requests will require a 48 hour advance notice. Discounts, specials, and group rates do not apply to the package rates.</p>
<p>&nbsp;</p>
<p>These specials may not be booked with our on-line reservations, you must call our toll-free reservations number at 800-800-6981 to receive the package. Good on advance reservations only. Some restrictions may apply. Please call for more details. Thank you.</p>
<p>&nbsp;</p>
<p><em>Our Most Popular Packages: (Following are off season rates, ask about our peak season packages) Rates over holidays may differ!</em></p>
<div class="contentBox">
<div class="pageDash"> </div>
<p>&nbsp;</p>
<div class="pkgImage"><img src="http://www.caribbeanclubresort.com/wp-content/uploads/2012/05/romancepkg.png" alt="" align="top" border="0" /></div>
<div class="pkgContent"><span class="pkgtitle">Romantic Getaway Package includes:</span>
<p>Bottle of wine or Champagne, corkscrew, 2 wine glasses, small box of chocolates, 1 firelog, and bubble bath for 2. A savings of over $110.</p>
<p>&nbsp;</p>
<ul>
<li>3 Bedroom Condo= $510 plus tax for a 2 night stay</li>
<li>2 Bedroom Condo= $330 plus tax for a 2 night stay</li>
<li>1 Bedroom Condo= $268 plus tax for a 2 night stay</li>
</ul>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="pageDash"> </div>
<div class="contentBox">
<div class="pkgImage"><img src="http://www.caribbeanclubresort.com/wp-content/uploads/2012/05/waterparkpkg1.png" alt="" align="top" border="0" /></div>
<div class="pkgContent">
<p class="pkgtitle">Water park package includes</p>
<p class="pkgtitle">(Kalahari Water Park):</p>
<p>1 bedroom- 2 tickets &amp; choice of 1 beach towel, beach bag, hat or clothing. 2 bedroom- 4 tickets &amp; choice of any 2 beach towels, beach bags, hats, or clothing. 3 bedrooms – 6 tickets &amp; choice of any 3 beach towels, beach bags, hats or clothing. For extra tickets you can buy 1 and get the 2nd for 1/2 price based on availability of tickets. Available for packages only! A saving of over $175</p>
<p>&nbsp;</p>
<ul>
<li>3 Bedroom Condo= $688.75 plus tax for a 2 night stay</li>
<li>2 Bedroom Condo= $412.50 plus tax for a 2 night stay</li>
<li>1 Bedroom Condo= $257.95 plus tax for a 2 night stay</li>
</ul>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="pageDash"> </div>
<div class="contentBox">
<div class="pkgImage"><img src="http://www.caribbeanclubresort.com/wp-content/uploads/2012/05/kalaharipkg.png" alt="" align="top" border="0" /></div>
<div class="pkgContent">
<p class="pkgtitle">Water park package includes</p>
<p class="pkgtitle">(water park and theme park):</p>
<p>1 bedroom- 2 tickets to each park &amp; choice of 1 beach towel, beach bag, hat or clothing. 2 bedroom- 4 tickets to each park &amp; choice of any 2 beach towels, beach bags, hats, or clothing. 3 bedrooms – 6 tickets to each park &amp; choice of any 3 beach towels, beach bags, hats or clothing. For extra tickets you can buy 1 and get the 2nd for 1/2 price based on availability of tickets. Available for packages only! A saving of over $175</p>
<p>&nbsp;</p>
<ul>
<li>3 Bedroom Condo= $865.75 plus tax for a 2 night stay</li>
<li>2 Bedroom Condo= $530.50 plus tax for a 2 night stay</li>
<li>1 Bedroom Condo= $316.95 plus tax for a 2 night stay</li>
</ul>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="pageDash"> </div>
<div class="contentBox">
<div class="pkgImage"><img src="http://www.caribbeanclubresort.com/wp-content/uploads/2012/05/cascadeski.png" alt="" align="top" border="0" /></div>
<div class="pkgContent">
<p class="pkgtitle">Cascade Mountain Ski Package includes:</p>
<p>1 bedroom 2 person condo- 2 night stay and 2 lift tickets. 1 bedroom 4 person condo- 2 night stay and 4 lift tickets. 2 bedroom condo- 2 night stay and 6 lift tickets. 3 bedroom condo – 2 night stay and 8 lift tickets. Kids ski free with a paid adult ticket. You may exchange lift tickets for tubing tickets. Extra tickets available for purchase. A saving of over $175</p>
<p>&nbsp;</p>
<ul>
<li>3 Bedroom Condo= $786 plus tax for a 2 night stay</li>
<li>2 Bedroom Condo= $522 plus tax for a 2 night stay</li>
<li>1 Bedroom 4 person Condo= $376 plus tax for a 2 night stay</li>
<li>1 Bedroom 2 person Condo= $292 plus tax for a 2 night stay</li>
</ul>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="pageDash"> </div>
<div class="contentBox">
<div class="pkgImage"><img src="http://www.caribbeanclubresort.com/wp-content/uploads/2012/05/soapnsoakpkg.png" alt="" align="top" border="0" /></div>
<div class="pkgContent">
<p class="pkgtitle">Slope and Soak Package includes:</p>
<p>1 bedroom 2 person condo- 2 night stay, 2 lift tickets, 2 Kalahari water or theme park tickets &amp; a choice of 1 item from our gift shop. 1 bedroom 4 person condo- 2 night stay 4 lift tickets, 2 Kalahari water or theme park tickets &amp; a choice of 1 item from our gift shop. 2 bedroom- 2 night stay, 6 lift tickets, 4 Kalahari water or theme park tickets &amp; choice of any 2 items from our gift shop. 3 bedrooms – 2 night stay, 8 lift tickets, 6 Kalahari water or theme park tickets &amp; choice of any 3 items from our gift shop. You may exchange lift tickets for tubing tickets. Extra tickets available for purchase. Kids ski free with a paid adult ticket. A saving of over $150</p>
<p>&nbsp;</p>
<ul>
<li>3 Bedroom Condo= $1024.75 plus tax for a 2 night stay</li>
<li>2 Bedroom Condo= $664.50 plus tax for a 2 night stay</li>
<li>1 Bedroom 4 person Condo= $425.95 plus tax for a 2 night stay</li>
<li>1 Bedroom 2 person Condo= $341.95 plus tax for a 2 night stay</li>
</ul>
</div>
</div>
<p>&nbsp;</p>
<div class="cBox">
<p><strong>**You may extend your stay by adding more packages to your current package price.</strong></p>
<p><strong>**Limited quantities available, upgrades available at an additional charge.</strong></p>
<ul>
<li>Rhapsody Spa discount off services</li>
<li>Knuckleheads Theme Park- Buy 1 get 1 free vouchers.</li>
<li>Winter Package- Includes a movie, popcorn, 12" pizza, firelog, and a 6 pack of soda, juice or gatorade</li>
<li>Dells Comedy Club Tickets</li>
</ul>
</div>