.theme-default {
	margin:0px 0 0 0;
}
.theme-default .hide {
	display:none;
}
.theme-default .stepcarousel .belt {
	position: absolute; /* Leave this value alone */
	left: 0;
	top: 0;
}
.theme-default .stepcarousel .panel .panel-text {
	color:#FFF;
}

.wp_carousel_default_pagination {
	margin:0 30px;
	padding:5px 10px;
	background:#3B3B3B;
	text-align:center;
	-moz-border-radius:0 0 5px 5px;
	-khtml-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}
#carousel_0 {
	overflow: hidden;
	width:830px;
}
.theme-default .arrow-right {
	width:40px;
	height:300px;
	/*background:url() top right no-repeat;*/ 
	float:right;
}
.theme-default .arrow-left {
	width:40px;
	height:250px;
	/*background:url() top left no-repeat;*/


	float:left;
}
.theme-default .arrow-left a {
	margin:90px 0 0 -63px;
	/*width:25px;
	height:30px;*/
	width:37px;
	height:41px;
	/*background:url() top left no-repeat;*/
	background:url(/wp-content/themes/caribbeanclub/images/arrow-left.png) top left no-repeat;
	display:block;
}
.theme-default .arrow-right a {
	margin:90px 0 0 0;
	/*width:25px;
	height:30px;*/
	width:37px;
position:absolute;
right:-35px;
	height:41px;
	/*background:url(http://www.rivierasuites.com/wp-content/plugins/wp-carousel/themes/default/img/arrow_right.png) top right no-repeat;*/
	background:url(/wp-content/themes/caribbeanclub/images/arrow-right.png) top right no-repeat;
	display:block;
}
#carouselwrapper {
	width:500px;
	height:auto;
	/*margin:25px 0px 15px -13px;*/
	/*background-image:url(/wp-content/themes/caribbeanclub/images/sliderbackground.jpg);*/
	margin:0px 0px 0px -235px;
}
.theme-default .stepcarousel {
	position: relative; /* Leave this value alone */
	overflow: scroll; /* Leave this value alone */
	height: 300px;/*background:url() top left repeat-x;*/

}
.theme-default .stepcarousel .panel {
	/*height:110px;*/
	float: left; /* Leave this value alone */
	overflow: hidden; /*Clip content that go outside dimensions of holding panel DIV */
	/*margin:10px;
	padding:10px;*/


margin-left:5px;
	margin-right:5px;
	/*	border:1px solid #5B5B5B;*/
	/*background:#383838 url() bottom left repeat-x;*/
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:block;
}
.panel {
	margin-top:20px;
}
.arrow-left {
	margin-top:50px;
	margin-left:6px;
}
.arrow-right {
	margin-top:50px;
}
.stepcarousel {
	margin-top:20px;
	position:absolute;
	left:-49px;
}


* .theme-default .stepcarousel {
position:absolute;	
}

* .theme-default {
position:relative;
left:47px;	
}

.arrow-left {
margin:0px;
position:absolute;
left:-50px;
top:65px;
}
.arrow-right {
margin:0px;
position:absolute;
left:769px;
z-index:999999;
top:65px;
}