/*
Theme Name: Caribbean Club
Theme URI: www.caribbeanclubresort.com
Description: 2012 Caribbean Club
Author: Jhutter & ASmith
Author URI: www.caribbeanclubresort.com
Version: 1.0


License:
License URI:


*/



@charset "UTF-8";
/* CSS Document */

* {
	margin:0px;
}
a {
	text-decoration:none;
	border:none;
	color:#7b7b7b;
}
.bluelink a {
	text-decoration:underline;
	color:#1caab4;
}
body {
	background-color:#f2ece0;
	background-image:url(/wp-content/themes/caribbeanclub/images/background.jpg);
	background-position:top center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#7b7b7b;
	background-attachment:scroll;
	background-repeat:no-repeat;
	letter-spacing:.1em;
}
#contactbar {
	height:37px;
	width:973px;
	position:relative;
	background:transparent;
	padding:0px 0px 0px 0px;
	color:white;
	font-weight:bold;
	text-shadow:1px 1px 1px #000;
	margin-left:auto;
	margin-right:auto;
	letter-spacing:.1em;
	font-size:1.4em;
}
#business {
	width:193px;
	height:36px;
	padding:9px 0px 0px 327px;
	float:left;
	/*text-align:right;*/
	position:relative;
}
#address {
	height:auto;
	float:left;
	height:36px;
	text-align:left;
	position:relative;
	padding-left:60px;
	padding-top:9px;
}
#logo {
	position:absolute;
	z-index:20;
	top:10px;
	left:0px;
	width:275px;
	height:198px;
	background:transparent;
}
#logo a:hover a:active a:link a:visited {
	position:absolute;
	z-index:20;
	top:10px;
	left:0px;
	width:275px;
	height:198px;
	background:transparent;
	border:none;
}
#header {
	width:973px;
	height:181px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	position:relative;
}
#parrot {
	width:69px;
	height:111px;
	z-index:25;
	top:85px;
	left:370px;
	position:absolute;
}
#polaroid {
	width:545px;
	height:171px;
	z-index:25;
	top:8px;
	right:-107px;
	position:absolute;
	background:transparent;
}
#navwrap {
	width:976px;
	height:33px;
	margin-left:auto;
	margin-right:auto;
	padding:13px 0px 0px 0px;
	color:white;
}
#navlinks {
	width:10.85%;
	height:auto;
	font-family: Century Gothic, sans-serif;
	float:left;
	color:white;
	letter-spacing:.1em;
	font-size:1.3em;
	text-shadow:1px 1px 1px #752200;
	font-weight:500;
	text-align:center;
	line-height:1em;
}


#navlinks a {
	color:white;
}



.navlinks {
	width:10.85%;
	height:auto;
	font-family: Century Gothic, sans-serif;
	float:left;
	letter-spacing:.1em;
	font-size:1.3em;
	text-shadow:1px 1px 1px #752200;
	font-weight:500;
	text-align:center;
}
.navlinks {
	width:10.85%;
	height:auto;
	font-family: Century Gothic, sans-serif;
	float:left;
	letter-spacing:.1em;
	font-size:1.3em;
	text-shadow:1px 1px 1px #752200;
	font-weight:500;
	text-align:center;
	color:black;
}
#navdash {
	border-right:2px solid #a6480e;
	height:46px;
	float:left;
	margin-top:-13px;
}
#slidewrap {
	width:973px;
	height: 474px;
	margin-left:auto;
	margin-right:auto;
	padding:38px 0px 0px 0px;
	position:relative;
}
#galWrap {
	width:973px;
	height:47px;
	margin-left:auto;
	margin-right:auto;
	padding:38px 0px 0px 0px;
	position:relative;
}
#slideDecoLeft {
	position:absolute;
	z-index:10;
	top:35px;
	left:-55px;
	width:140px;
	height:97px;
}
#slideDecoRight {
	position:absolute;
	z-index:13;
	top:5px;
	right:-110px;
	width:131px;
	height:143p;
}
#orgBar {
	width:973px;
	height:10px;
	background:url(/wp-content/themes/caribbeanclub/images/orangebar.png);
	background-repeat:repeat-x;
}
#maincontent {
	width:973px;
	margin-left:auto;
	margin-right:auto;
	padding:0px 0px 0px 0px;
	background:#fafafa;
	margin-top:20px;
}
#maincontentGal {
	width:973px;
	margin-left:auto;
	margin-right:auto;
	padding:0px 0px 0px 0px;
	background:#fafafa;
}
#mcLeft {
	width:585px;
	float:left;
	padding:40px 5px 5px 30px;
}
#mcRight {
	width:336px;
	float:left;
	padding:40px 5px 5px 5px;
}
#mcLeftGal {
	width:585px;
	float:left;
	padding:10px 5px 5px 30px;
}
#mcRightGal {
	width:336px;
	float:left;
	padding:10px 5px 5px 5px;
}
.f1 {
	line-height:2em;
}
#widget {
	margin:0px 0px 30px 15px;
}

#affilWrap {
  float: left;
  margin: 25px 0 0;
  text-align: center;
  width: 615px;
}
.affiliate {
	display:inline-block;
}
#rmSliderwrap {
	margin-left:auto;
	margin-right:auto;
	width:970px;
	height:380px;
	clear:both;
	margin-bottom:0px;
}
#ftClear {
	clear:both;
	height:100px;
	width:100%
}
#rmSlider {
	margin:0px 0px 0px 0px;
}
#footerwrap {
	width:100%;
	height:175px;
	background:url(/wp-content/themes/caribbeanclub/images/footer.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}
#fwContent {
	width:1010px;
	margin-left:auto;
	margin-right:auto;
}
#footerblocks {
	background:transparent;
	float:left;
	padding:25px 20px 10px 15px;
	color:white;
	font-weight:bold;
	letter-spacing:.1em;
	font-size:1.4em;
	text-align:center;
	font-family: Century Gothic, sans-serif;
	font-weight:bold;
	text-shadow:1px 1px 2px #401700;
	line-height:1.4em;
}
.blockdash-Yaxis {
	width:7px;
	margin:15px 0px 0px 0px;
	border-left:dotted 5px #fff;
	height:140px;
	float:left;
}
#lowerNav {
	padding:10px 0px 5px 0px;
	font-family: Century Gothic, sans-serif;
	font-size:11px;
	color:white;
	text-align:center;
	line-height:1.3em;
	letter-spacing:.2em;
}
#locTxt {
	font-family: Century Gothic, sans-serif;
	font-size:10px;
	color:white;
	line-height:.4em;
	text-align:left;
	text-shadow:0px 0px 0px;
}
#phIcon {
	position:absolute;
	top:7px;
	left:34px;
}
#hmIcon {
	position:absolute;
	top:9px;
	right:197px;
}
#featuredBackground {
	width:956px;
	height:375px;
	background:url(/wp-content/themes/caribbeanclub/images/featuredBackground.jpg) no-repeat;
	background-attachment:top center;
	position:relative;
}
#tileWrap {
	width:89%;
	height:70%;
	left:7%;
	/*top:15%;*/

	top:10px;
	position:absolute;
}
.featuredTile1 {
	width:204px;
	height:277px;
	background:url(/wp-content/themes/caribbeanclub/images/featuredTile1.png) no-repeat;
	float:left;
}
.featuredTile2 {
	width:204px;
	height:277px;
	background:url(/wp-content/themes/caribbeanclub/images/featuredTile2.png) no-repeat;
	float:left;
}
#roomTitle {
	width:78%;
	height:28px;
	color:white;
	padding:17px 0px 0px 17px;
}
#roomImage {
	width:94%;
	height:140px;
	padding:6px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
}
#roomImage img {
	padding:3px;
	border:1px solid #b9b9b9;
}
#featuredDescription {
	width:180px;
	height:65px;
	padding:0px 0px 6px 10px;
	font-size:12px;
	line-height:1.2em;
}
#featuredTab {
	width:129px;
	height:138px;
	background:transparent;
	z-index:20;
	top:17px;
	left:53px;
	position:absolute;
}
.eventWrapTop {
	width:287px;
	height:87px;
	margin:0px 0px 20px 0px;
}
.eventWrapBottom {
	width:287px;
	height:87px;
	margin:0px 0px 0px 0px;
}
.eventImage {
	width:97px;
	height:65px;
	float:left;
	border:1px solid #b9b9b9;
	padding:3px;
}
.imageWrap {
	width:97px;
}
.eventDescription {
	width:143px;
	height:87px;
	float:left;
	padding:0px 5px 0px 10px;
	font-size:12px;
}
.eventTitle {
	font-family: Century Gothic, sans-serif;
	color:#20a9b8;
	font-size:1.1em;
	font-weight:bold;
}
#gardenUnitWrap {
	width:381px;
	min-height:174px;
	background-position:top center;
	background-color:#fafafa;
	background-image:url(/wp-content/themes/caribbeanclub/images/gardenUnits.jpg);
	padding:28px 0px 0px 193px;
	background-repeat:no-repeat;
}
#lakesideUnitWrap {
	width:381px;
	min-height:174px;
	background-position:top center;
	background-color:#fafafa;
	background-image:url(/wp-content/themes/caribbeanclub/images/lakesideUnits.jpg);
	padding:23px 0px 0px 193px;
	background-repeat:no-repeat;
	margin:50px 0px 0px 0px;
}
.hover {
	background:red;
	height:30px;
	width:380px;
	height:40px;
	background-repeat:repeat-x;
	background:url(/wp-content/themes/caribbeanclub/images/orange.jpg);
	position:relative;
}
.hover2 {
	background:red;
	height:30px;
	width:380px;
	height:40px;
	background-repeat:repeat-x;
	background:url(/wp-content/themes/caribbeanclub/images/blue.jpg);
	position:relative;
}
#gardenWrapTitle {
	width:100%;
	height:55px;
	font-family: Century Gothic, sans-serif;
	letter-spacing:.1em;
	font-size:1.6em;
	font-weight:500;
	color:white;
}
#gardenWrapText {
	width:100%;
	font-family: Century Gothic, sans-serif;
	letter-spacing:.1em;
	font-size:.9em;
	font-weight:500;
	line-height:1.4em;
	color:#7b7b7b;
	line-height:inherit;
	margin:0px 0px 25px 0px;
}
#headerContent {
	width:86%;
	height:30px;
	padding:6px 0px 0px 54px;
	font-family: Century Gothic, sans-serif;
	color:white;
	text-shadow:1px 1px 1px #bc6705;
	position:relative;
	font-weight:100;
	font-size:.9em;
}
#headerContent2 {
	width:86%;
	height:30px;
	padding:6px 0px 0px 54px;
	font-family: Century Gothic, sans-serif;
	color:white;
	text-shadow:1px 1px 1px #59a6ab;
	position:relative;
	font-weight:100;
	font-size:.9em;
}
#homeIcon {
	position:absolute;
	top:7px;
	left:14px;
	width:29px;
	height:28px;
}
#accordionArrow {
	position:absolute;
	top:7px;
	right:10px;
	width:25px;
	height:25px;
}
#innerContent {
	width:99%;
	height:170px;
	background:#f7f6f4;
	border-left:1px solid #dedede;
	border-right:1px solid #dedede;
	padding:20px 0px 0px 0px;
	font-family: Century Gothic, sans-serif;
	letter-spacing:.1em;
	font-size:.9em;
	font-weight:500;
	line-height:1.4em;
	color:#7b7b7b;
	margin-top:-19px;
}
#leftImage {
	width:180px;
	float:left;
}
#rightContent {
	width:180px;
	float:left;
}
#inner2 {
	font-family: Century Gothic, sans-serif;
	letter-spacing:.1em;
	font-size:.8em;
	font-weight:500;
	line-height:1.4em;
	color:#7b7b7b;
}
.viewImageBlue {
	color:#1caab4;
	font-size:1.2em;
	font-weight:500;
}
.viewImageOrange {
	color:#fc8c1e;
	font-size:1.2em;
	font-weight:500;
}
.condoHeading {
	color:#1caab4;
	font-weight:800;
	font-size:1.3em;
}
.condoHeadingOrange {
	color:#fc8c1e;
	font-weight:800;
	font-size:1.3em;
}
a.bluelink {
	text-decoration:underline;
	color:#1caab4;
	font-weight:500;
}
a.orangelink {
	text-decoration:underline;
	color:#fc8c1e;
	font-weight:500;
}
#mainTitles {
	margin:0px 0px 35px 0px
}
.fs1 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#7b7b7b;
	line-height:1.8em;
	letter-spacing:.1em;
}
.condoContent {
	padding:25px 0px 0px 0px;
}
.cclow {
	padding:0px 0px 20px 0px;
}
.pageDash {
	width:100%;
	border-top:dotted 5px orange;
	height:7px
}
li {
	color:#1db5c3;
}
#gardenGalleryWrap {
	width:381px;
	min-height:174px;
	background-position:top center;
	background-color:#fafafa;
	background-image:url(/wp-content/themes/caribbeanclub/images/gardenGallery.jpg);
	padding:28px 0px 0px 193px;
	background-repeat:no-repeat;
	margin:50px 0px 0px 0px
}
#lakesideGalleryWrap {
	width:381px;
	min-height:174px;
	background-position:top center;
	background-color:#fafafa;
	background-image:url(/wp-content/themes/caribbeanclub/images/lakesideGallery.jpg);
	padding:26px 0px 0px 193px;
	background-repeat:no-repeat;
	margin:50px 0px 0px 0px
}
#locationContactWrap {
	width:600px;
	height: 65px;
	margin: 35px 0px 0px 0px;
}
#lcw2 {
	width:600px;
	height: 65px;
	margin: 0px 0px 0px 0px;
}
#contactIcon {
	width: 60px;
	height: 60px;
	float: left;
}
#contactInfo {
	width: 510px;
	height: 60px;
	font-size: 16px;
	float: left;
}
#testimonialWrap1 {
	width:550px;
	margin:35px 0px 35px 0px;
	padding:15px;
	border:3px solid #fff;
	border-style:dotted;
	background-color:#ffe1b9;
}
#testimonialWrap2 {
	width:550px;
	margin:35px 0px 35px 0px;
	padding:15px;
	border:3px solid #fff;
	border-style:dotted;
	background-color:#b9ecff;
}
.cBox {
	width:510px;
	padding:20px;
	background:#ececec;
	border:1px solid #c4c4c4;
	margin:35px 0px 0px 0px;
	font-size:11px;
}
.contentBox {
	width:600px;
	margin:35px 0px 0px -21px;
	padding:10px;
}
.pkgImage {
	float:left;
	width:247px;
}
.pkgContent {
	width:340px;
	float:left;
	padding:0px 0px 0px 10px;
}
.pkgtitle {
	color:#eb8a00;
	font-family:inherit;
}
#featuredDescription a {
	color:#02a3bb;
	text-decoration:underline;
}
.amImage {
	float:left;
	width:268px;
	padding-left:15px;
}
.amContent {
	width:250px;
	float:left;
}
.rs-sc-field {
	padding:5px 0px 0px 0px
}
.specialtitle {
	color: #1db5c3;
	font-size:16px;
	font-weight:bold;
}
#mapwidgetwrap {
	width:310px;
	height:214px;
	margin:0px 0px 51px 20px;
	padding:68px 0px 0px 0px;
	background:url(/wp-content/themes/caribbeanclub/images/resortmap.png);
}
#mapwrap {
	width:310px;
	height:131px;
}
#map {
	margin-left:80px;
}
#maplinkwrap {
	width:310px;
	height:34px;
}
#maplink {
	margin-left:80px;
}
#respond label {
	font-weight:bold;
	float:left;
	display:block;
	width:100px;
}
#respond p.form-allowed-tags {
	margin-top:10px;
	margin-bottom:10px;
}
#respond #comment {
	clear:both;
	display:block;
	margin-top:5px;
	margin-bottom:5px;
}
#respond p.form-allowed-tags {
	display:none;
}
#respond {
	width:700px;
	height:500px;
}
#comment {
	width:580px;
	height:200px;
	padding:20px 0px 0px 0px;
	margin:20px 0px 20px 0px
}
.comment-form-comment {
	margin-top:20px;
	color:#0abccc;
}
.logged-in-as {
	color:#ff9000;
}
.credits {
	font-size:10px;
	color:white;
}
.creditLink {
	text-decoration:underline;
	color:white;
}
#creditWrap {
	margin-left:auto;
	margin-right:auto;
	width:100%;
	background:#ff8b2b;
	color:white;
}
#credits {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:1000px;
}

#breadcrumbs
{width:970px; height:30px; margin-left:auto; margin-right:auto; color:color:#7b7b7b; background:transparent;}

#breadcrumbWrap
{width:920px; height:25px; padding:5px 0px 0px 0px; text-align:right; background:transparent;}

.cptch_block {
	margin-top:10px;
}

.cptch_block label {
width:200px;	
}
.comment-form-url {
display:none;	
}
.comment-form-author {
margin-top:10px;	
}

#passWrap {
  margin:20px 0;
  float:left;
  padding:10px ;
  background-color:#e5e5e5;
  font-size:15px;
  border:1px solid #ccc;
}

.pass a {color:#B72238;}

.pass img {
  float:left;
  margin-right:10px;   
  }