<p>The Caribbean Club Resort has packages available to add to your reservation. All package requests will require a 48 hour advance notice. Discounts, specials, and group rates do not apply to the package rates.</p>
<p>&nbsp;</p>
<p>These specials may not be booked with our on-line reservations, you must call our toll-free reservations number at 800-800-6981 to receive the package. Good on advance reservations only. Some restrictions may apply. Please call for more details. Thank you.</p>
<p>&nbsp;</p>
<p><em>Our Most Popular Packages: (Following are off season rates, ask about our peak season packages) Rates over holidays may differ!</em></p>
<div class="contentBox">
  <div class="pageDash"> </div>
  <p>&nbsp;</p>
  <div class="pkgImage"><img src="http://www.caribbeanclubresort.com/wp-content/uploads/2012/05/romancepkg.png" alt="" align="top" border="0" /></div>
  <div class="pkgContent"><span class="pkgtitle">Romantic Getaway Package includes:</span>
    <p>Bottle of wine or champagne, corkscrew, 2 wine glasses, small box of chocolates, 1 fire log, and bubble bath for 2. A savings of over $110.</p>
    <p>&nbsp;</p>
    <ul>
      <li>3 Bedroom Condo= $720 plus tax for a 2 night stay</li>
      <li>2 Bedroom Condo= $500 plus tax for a 2 night stay</li>
      <li>1 Bedroom Condo= $442.50 plus tax for a 2 night stay</li>
    </ul>
  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="pageDash"> </div>
<div class="contentBox">
  <div class="pkgImage"><img src="http://www.caribbeanclubresort.com/wp-content/uploads/2012/05/waterparkpkg1.png" alt="" align="top" border="0" /></div>
  <div class="pkgContent">
    <p class="pkgtitle">Water park package includes</p>
    <p class="pkgtitle">(Kalahari or Mt. Olympus ):</p>
    <p>1 bedroom- 2 tickets & choice of 1 beach towel, beach bag, hat or clothing. 2 bedroom- 4 tickets & choice of any 2 beach towels, beach bags, hats, or clothing. 3 bedrooms – 6 tickets & choice of any 3 beach towels, beach bags, hats or clothing. For extra tickets you can buy 1 and get the 2nd for 1/2 price based on availability of tickets. Available for packages only! A saving of over $175 </p>
    <p>&nbsp;</p>
    <ul>
      <li>3 Bedroom Condo= $898.75 plus tax for a 2 night stay</li>
      <li>2 Bedroom Condo= $582.50 plus tax for a 2 night stay</li>
      <li>1 Bedroom Condo= $432.45 plus tax for a 2 night stay </li>
    </ul>
  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="pageDash"> </div>
<div class="contentBox">
  <div class="pkgImage"><img src="http://www.caribbeanclubresort.com/wp-content/uploads/2012/05/kalaharipkg.png" alt="" align="top" border="0" /></div>
  <div class="pkgContent">
    <p class="pkgtitle">Kalahari Package includes</p>
    <p class="pkgtitle">(water and theme park):</p>
    <p>1 bedroom- 2 tickets to each park & choice of 1 beach towel, beach bag, hat or clothing. 2 bedroom- 4 tickets to each park & choice of any 2 beach towels, beach bags, hats, or clothing. 3 bedrooms – 6 tickets to each park & choice of any 3 beach towels, beach bags, hats or clothing. For extra tickets you can buy 1 and get the 2nd for 1/2 price based on availability of tickets. Available for packages only! A saving of over $175 </p>
    <p>&nbsp;</p>
    <ul>
      <li>3 Bedroom Condo= $1075.75 plus tax for a 2 night stay</li>
      <li>2 Bedroom Condo= $700.50 plus tax for a 2 night stay</li>
      <li>1 Bedroom Condo= $491.45 plus tax for a 2 night stay</li>
    </ul>
  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="pageDash"> </div>
<div class="contentBox">
  <div class="pkgImage"><img src="http://www.caribbeanclubresort.com/wp-content/uploads/2012/05/ultimate-waterpark.png" alt="" align="top" border="0" /></div>
  <div class="pkgContent">
    <p class="pkgtitle">Ultimate water park</p>
    <p class="pkgtitle">(Kalahari and Mt. Olympus) Package includes:</p>
    <p>1 bedroom condo- 4 night stay, 2 tickets to each park and 1 item from the gift shop. 2 bedroom- 4 night stay, 4 tickets to each park and 2 items from the gift shop. 3 bedrooms – 4 night stay, 6 tickets to each park and 3 items from the gift shop. Extra tickets available for purchase at a buy 1 get 1 for half price. A saving of over $175 </p>
    <p>&nbsp;</p>
    <ul>
      <li>3 Bedroom Condo= $1744.75 plus tax for a 4 night stay</li>
      <li>2 Bedroom Condo= $1146.50 plus tax for a 4 night stay</li>
      <li>1 Bedroom Condo= $876.95 plus tax for a 4 night stay</li>
    </ul>
  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="pageDash"> </div>
<div class="contentBox">
  <div class="pkgImage"><img src="http://www.caribbeanclubresort.com/wp-content/uploads/2012/05/golfingpackage.png" alt="" align="top" border="0" /></div>
  <div class="pkgContent">
    <p class="pkgtitle">Golf Package includes:</p>
    <p>1 bedroom condo- 2 night stay, 2 rounds of golf and 1 item from our gift shop. 2 bedroom condo- 2 night stay, 4 rounds of golf and 2 items from our gift shop. 3 bedrooms – 2 night stay, 6 rounds of golf and 3 items from our gift shop.  A saving of over $150 </p>
    <p>&nbsp;</p>
    <ul>
      <li>3 Bedroom Condo= $1272.75 plus tax for a 2 night stay</li>
      <li>2 Bedroom Condo= $848.50 plus tax for a 2 night stay</li>
      <li>1 Bedroom 4 person Condo= $590.00 plus tax for a 2 night stay</li>
    </ul>
  </div>
</div>
<p>&nbsp;</p>
<div class="cBox">
  <p><strong>**You may extend your stay by adding more packages to your current package price.</strong></p>
  <p><strong>**Limited quantities available, upgrades available at an additional charge.</strong></p>
  <ul>
    <li>Dells Massage discount off services</li>
    <li>Knuckleheads Theme Park discounts</li>
    <li>Passport to Savings- 25% off 14 Dells attractions</li>
    <li>Summer Package- Includes a movie, popcorn, 12" pizza, firelog, and a 6 pack of soda, juice or gatorade</li>
    <li>Dells Comedy Club Tickets</li>
  </ul>
</div>
