body{background:#fff;font-family:Verdana, Helvetica, Arial, sans-serif;margin:0;padding:0}


#content p{text-indent:20px;text-align:justify;}
#pagingControls ul{display:inline;padding-left:0.5em}
#pagingControls li{display:inline;padding:0 0.5em}





