@charset "utf-8";
/* CSS Document */

.specialscontainer {
	background-image: url(/wp-content/themes/caribbeanclub/images/entertainWidget.png); width: 330px; height: 315px;
padding-top:60px;
padding-left:30px;
background-position:top left;
background-repeat:no-repeat;
}

.eventWrapTop {
	width:287px;
	height:87px;
	margin:0px 0px 20px 0px;
}
.eventWrapBottom {
	width:287px;
	height:87px;
	margin:0px 0px 0px 0px;
}
.imageWrap img {
	width:97px;
	height:65px;
	float:left;
	border:1px solid #b9b9b9;
	padding:3px;
}
.imageWrap {
	width:97px;
}
.eventDescription {
	/*width:143px;*/
width:150px;
	height:87px;
	float:left;
	padding:0px 5px 0px 10px;
	font-size:12px;
}
.eventTitle {
	font-family: Century Gothic, sans-serif;
	color:#20a9b8;
	font-size:1em;
	font-weight:bold;
}

.eventpage {
display:none;	
}

#eventpage0 {
display:block;	
}

#pagingControls2
{ margin:-17px 0px 0px 0px;}

#pagingControls2 a {
	color:#7b7b7b;
}

#pagingControls2 a:active {
	color:#20a9b8;
}

#pagingControls2 a:link {
	color:#20a9b8;
}

#pagingControls2 a:visited {
	color:#20a9b8;
}

#rescon {
background-image: url(/wp-content/uploads/2012/05/reservationWidget2.png); width: 330px; height: 343px;
padding-top:60px;
padding-left:30px;
background-position:top left;
background-repeat:no-repeat;
color:#1EAAB7;
font-weight:bold;
}

#rescon * {
text-align:left;
}
#rescon input, #rescon select {
margin-left:60px;
}

.rs-sc-book-button-wrapper input {
margin-left:0px;	
}


@media screen and (-webkit-min-device-pixel-ratio:0) {

{  
    * .theme-default .stepcarousel {
    top:-348px;
    left:-3px;	
	background-color:blue;
    }
}

